/*-- 11. Service-Box --*/

.service-box {
    position: relative;
    padding-left: 100px;
}

.team-slide .owl-controls .owl-nav > div,
.service-box .box-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 72px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#482cbf+0,6ac6f0+100 */
    background: rgb(72, 44, 191);
    /* Old browsers */
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -o-linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    background: linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#482cbf', endColorstr='#6ac6f0', GradientType=1);
    overflow: hidden;
    z-index: 1;
    color: #5e88fc;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
}

.team-slide .owl-controls .owl-nav > div:hover,
.service-box:hover .box-icon {
    color: #ffffff;
}

.team-slide .owl-controls .owl-nav > div:before,
.service-box .box-icon:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: -1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: 1;
}

.team-slide .owl-controls .owl-nav > div:hover:before,
.service-box:hover .box-icon:before {
    opacity: 0;
}

.service-box h4 {
    margin-bottom: 10px;
}
/*-- 12. Testimonial-Area --*/

.testimonial-area {
    padding-top: 60px;
    padding-bottom: 120px;
}

.team-box {
    position: relative;
    padding: 55px 30px 30px 30px;
    -webkit-box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 40px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.team-box:hover {
    -webkit-box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
}

.team-box .team-image {
    position: absolute;
    top: -40px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: #ffffff;
    text-align: center;
    overflow: hidden;
    border: 5px solid #ffffff;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1)
}

.team-box h4 {
    color: #5e88fc;
    font-weight: 600;
    font-size: 20px;
}

.team-box h6.position {
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
}

.team-slide .owl-controls .owl-nav > div {
    position: absolute;
    top: 50%;
    left: auto;
    right: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.team-slide .owl-controls .owl-nav > div.owl-next {
    right: auto;
    left: 100%;
}

/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1280px) {
    .mainmenu-area ul.nav.navbar-nav li a {
        margin: 0 10px;
    }
    .feature-area,
    .testimonial-area,
    .video-area,
    .progress-area {
        background-image: none;
        margin-bottom: 0;
    }
    .testimonial-area {
        padding: 100px 0;
    }
    .team-slide .owl-controls .owl-nav {
        text-align: center;
    }
    .team-slide .owl-controls .owl-nav > div {
        position: static;
        display: inline-block;
        margin: 30px 15px 15px 15px;
    }
    .footer-bottom .footer-menu ul,
    .footer-area {
        text-align: center;
    }
    .angle:after {
        height: 80px;
    }
}

/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .home-area {
        padding: 100px 0;
        margin-bottom: 0;
    }
    .mainmenu-area ul.nav.navbar-nav li a {
        margin: 0 10px;
    }
    .video-area,
    .progress-area {
        background-image: none;
    }
    .mobile-image {
        display: none !important;
    }
    .feature-area,
    .video-area,
    .progress-area {
        background-image: none;
        margin-bottom: 0;
        margin-top: 0;
    }
    .testimonial-area {
        padding: 60px 0;
    }

    .video-photo {
        margin-bottom: 60px;
    }
    .team-slide .owl-controls .owl-nav {
        text-align: center;
    }
    .team-slide .owl-controls .owl-nav > div {
        position: static;
        display: inline-block;
        margin: 30px 15px 15px 15px;
    }
    .footer-bottom .footer-menu ul,
    .footer-area {
        text-align: center;
    }
    .angle:after {
        height: 80px;
    }
}

    .testimonial-area {
        padding: 60px 0;
    }
    .team-slide .owl-controls .owl-nav {
        text-align: center;
    }
    .team-slide .owl-controls .owl-nav > div {
        position: static;
        display: inline-block;
        margin: 30px 15px 15px 15px;
    }
    .gallery-slide {
        margin-bottom: 60px;
    }
    .gallery-slide .item {
        margin: 85px 25px 90px 30px;
    }
    .gallery-slide .owl-controls {
        position: static;
        margin-top: 30px;
        width: 100%;
        text-align: center;
    }

/*-- 15. Price-Area --*/

.price-box {
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    color: #8790af;
    -webkit-box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.1);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.price-box:hover {
    -webkit-box-shadow: 0 0 50px -15px #4d43c6;
    box-shadow: 0 0 50px -15px #4d43c6;
}

.price-box .price-header {
    background-color: #f2f3fc;
    padding: 40px;
    color: #768ede;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#482cbf+0,6ac6f0+100 */
    background: rgb(72, 44, 191);
    /* Old browsers */
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -o-linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    background: linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#482cbf', endColorstr='#6ac6f0', GradientType=1);
    position: relative;
    overflow: hidden;
    z-index: 2;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.price-box .price-header:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #f2f3fc;
    z-index: -1;
    opacity: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.price-box:hover .price-header {
    color: #ffffff;
}

.price-box:hover .price-header:before {
    opacity: 0;
}


.price-box .price-header .price-icon {
    font-size: 60px;
    margin-bottom: 10px;
}

.price-box .price-header h4 {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 3px;
}

.price-box .price-body {
    padding: 40px;
}

.price-box .price-body ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.price-box .price-rate {
    color: #768ede;
    margin-bottom: 40px;
    font-size: 20px;
}

.price-box .price-rate sup {
    top: -20px;
    font-size: 26px;
}

.price-box .price-rate .rate {
    font-size: 56px;
}

.price-box .price-footer {
    margin-bottom: 40px;
}

.price-box .price-footer .bttn-white {
    padding: 13px 50px;
}

.price-box .price-footer .bttn-white:before {
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: 100px;
    left: 2px;
    top: 2px;
}
*-- 3. Button-Style --*/

.bttn-white {
    position: relative;
    background: rgb(72, 44, 191);
    background: -webkit-linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    background: linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#482cbf', endColorstr='#6ac6f0', GradientType=1);
    overflow: hidden;
    z-index: 1;
    margin-right: 10px;
    border: none;
}

.bttn-white img {
    height: 20px;
    margin-right: 5px;
    margin-top: -5px;
    display: inline-block;
}



.bttn-white:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: -1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: 1;
}

.bttn-white.active,
.bttn-white:hover {
    color: #ffffff;
}

.bttn-white.active:before,
.bttn-white:hover:before {
    opacity: 0;
}

.bttn-default,
.bttn-white {
    padding: 12px 30px;
    background-color: #ffffff;
    display: inline-block;
    color: #768ede;
    text-transform: uppercase;
    border-radius: 50px;
    letter-spacing: 1.5px;
    font-weight: 700;
    font-size: 14px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border: none;
}

.bttn-default .lnr,
.bttn-white .lnr {
    margin-right: 10px;
}


.bttn-default {
    padding: 12px 40px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#482cbf+0,6ac6f0+100 */
    background: rgb(72, 44, 191);
    /* Old browsers */
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -o-linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    background: linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#482cbf', endColorstr='#6ac6f0', GradientType=1);
    color: #ffffff;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.bttn-default:hover {
    color: #ffffff;
    -webkit-box-shadow: 0 25px 50px -20px rgba(0, 0, 0, 0.6);
    box-shadow: 0 25px 50px -20px rgba(0, 0, 0, 0.6);
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}

.sq {
    border-radius: 3px !important;
}
